.footer
	.block21
		.block-subvideo
			.x-cream
				| nivele
				span Anti-cellulite cream
			ul
				li.popup1
					a Terms and Conditions 
				li.popup2
					a Privacy Policy
				li.popup3
					a Contact Us
		.clear
		p.text1
			span Warning
			|  The statments made on our websites have not been evaluated by the FDA (U.S. Food & Drug Administration). This product is not intended to diagnose, cure or prevent any disease. The information provided by this website or this companay is not a substitute for a face-to-face consultation with your physician, and should not be construed as indvidial medical advice. The testimonials on this website are individial cases and do not guarantee that you will get the same results.
		p.text2
			| Copyright © 2017
			br
			| MAsterSPA, LLC   ITN 104380285762   PRSN 427602692592
		.partners
			img(src='img/lend/icon-6.png')
			img(src='img/lend/icon-7.png')
			img(src='img/lend/icon-8.png')
			img(src='img/lend/icon-9.png')
			.sub-artners
				span ID Theft Protection
				span Purchase Guarantee
				span Lowest Price Guarantee
		.clear
	.clear