.lines
	.line2
	.line4
	.line6
.garanty
	img(src='img/lang/#{current_lang}/lend/garanty.png')
.doctor
	img(src='img/lang/#{current_lang}/lend/garanty2.png')
.overflow
.tac.on-popup1
	.title-top
		.x-force xxx-cream
		span.text-term Terms and Conditions
		span.bottomline.top X
	.to-scroll
		p This site is owned and operated by Pure Cambogia Ultra.
		.trans-title AGREEMENT
		p
			| Pure Cambogia Ultra contains multiple Web pages operated by Pure Cambogia Ultra. This offer is available for you and is subject to the acceptance of the following terms and conditions. Your use of the Pure Cambogia Ultra site and related offers represents your consent to all such terms contained herein. Pure Cambogia Ultra reserves the right to change the terms in which this offer is being offered. Please check this page for any changes. Pure Cambogia Ultra seeks to ensure that all available information on the website is accurate and true, however there is no guarantee. These terms and conditions apply exclusively, although in contrast to the general or specific conditions or stipulations of the buyer. These conditions will remain in force during the sale and during the relevant activities relating to such sale.
		.trans-title BASIC TERMS OF THE AGREEMENT
		p
			| The price of this product is the price set at the time of purchase and may change from time to time if it is used to complete a new purchase. In no event shall the purchase price of today guarantee a price for future purchases not related. The price does not include shipping and applicable operating costs that may be evaluated based on the amount of purchase.
		span.italic-b * International fee of up to 15% may apply.
		p
			| Single purchase: Thank you for your purchase, your shipment will be processed once we receive confirmation of payment. This purchase is subject to charge only through the method of payment. If you wish to receive new orders of Pure Cambogia Ultra it is necessary to submit a new order. The price of future purchases can not be guaranteed.
		p
			| Live email support is available: 
			a.mailsend(href='mailto:support@biotrimlabs.com') support@biotrimlabs.com
		p
			| Or you may call us toll-free:
			a.telefone(href='tel:+610280363151')
				span AU
				|  +61-(0)2 8036 3151
	.bottomline.bottom
		span x
		|  Close
.tac.on-popup2
	.title-top
		.x-force xxx-cream
		span.text-term privacy policy
		span.bottomline.top X
	.to-scroll
		.trans-title The information we collect
		p
			| We use the information we collect on our websites to provide a superior shopping experience and to communicate with you about products, services and promotions. We collect information about you when you register on our site, place an order, subscribe to our newsletter, respond to a survey, or fill out a form.
		p
			| The following types of information about a user are among those that may be collected by us in relation to the site: name, postal address, e-mail address, telephone number, mobile phone number, payment information (such as card numbers credit and billing address if purchases or payments are made), date of birth, age, sex, other demographic information (such as occupation, income bracket), IP address, referring site, and other technical information collected by the site server.
		.trans-title Information
		p
			| In connection with the web site, we may collect information in the following ways:
		ul
			li Through registration forms filled out by a user on the Site
			li
				| Through the information provided by a user in connection with the purchase of products or services on the Site
			li Through the maintenance and analysis of Web server logs
			li Through calls and e-mail users
			li Through Internet chat sessions between a user and this site
			li
				| Through the use of this site to third-party databases from which user information is extracted and combined with information obtained from this site by other means.
		p
			| We can also connect to personally and non-personally identifiable information from users via "cookies" (small text files placed by this site on users' computers), GIF image files to single-pixel (also called "Web beacons"), the Web server log analysis and other similar technological means. This information can be used to track the trends of the site and improve the user experience, and may be shared with third parties.
		p
			| To the extent that third parties may place advertisements on the Site, such third parties may use cookies or other technological means within the advertising to collect and use non-personally identifiable information. We are not responsible for information collected by 
			a.telefone(href='tel:+610280363151')
				span AU
				|  +61-(0)2 8036 3151
	.bottomline.bottom
		span x
		|  Close
.tac.on-popup3
	.title-top
		.x-force xxx-cream
		span.text-term contact us
		span.bottomline.top X
	.to-scroll
		p
			| Email Customer Service is available 24 hours a day at 
			a.mailsend(href='mailto:support@biotrimlabs.com') support@biotrimlabs.com
		p
			| Toll-free Customer Service is available 5 days a week, from 9:00 to 17:00 (CET) at: 
			a.telefone(href='tel:+610280363151')
				span AU
				|  +61-(0)2 8036 3151
		p All returns must be sent to:
		p(style='font-family:PSB;') Attn: Returns Department PO Box 1201 Singapore, 918118, SG
	.bottomline.bottom
		span x
		|  Close
.popup-doctor
	.head-block
		img.doc.ico-1(src='img/lend/doc4.png')
		span.bottomline.top X
		img.doc.ico-2(src='img/lend/doc5.png')
		img.doc.ico-3(src='img/lend/doc3.png')
		img.doc.ico-4(src='img/lend/doc2.png')
		img.doc.ico-5(src='img/lend/doc1.png')
	.contain-block
		p
			| The International Medical Association approves the product we offer. It passed all the necessary clinical tests and was thoroughly studied by a commission of doctors.
		.zakr
			.title1 Decision of the medical commission:
			.text-info
				| The remedy is completely natural, highly effective, harmless to people, and then without any restrictions can be used in the home as a basic or auxiliary mean.
			.mrDoctor
				span The Head of Commission:
				|  Wesley M. doctor of the highest category, M.D.
			.shatamp
				img(src='img/lend/doc-shtamp.png')
	.foter-doc
		.x-force xxx-cream
		.pros-text Anti-wrinkle non-surgery innnovation
		.bottomline.bottom
			span x
			|  Close
.block-popup
	#modal-window2.modal-window2
		a.unbind-cliks(href='cart-step1.html')
		.block-popup1
			img(src='img/lang/#{current_lang}/lend/popup-3.png')