section.reviews
	.container
		.reviews-title.clearfix
			p
				span #{cart_step1.section_real_stories_insider.regular}
				|  #{cart_step1.section_real_stories_insider.bold}
	.reviews-video
		.container
			.row
				.col-sm-4
					video(controls='controls', poster='')
						source(src='video/video.mp4', type='video/mp4')
						| 								Тег video не поддерживается вашим браузером. 
						a(href='video/video.mp4') Скачайте видео
						| .
				.col-sm-4
					video(controls='controls', poster='')
						source(src='video/video.mp4', type='video/mp4')
						| 								Тег video не поддерживается вашим браузером. 
						a(href='video/video.mp4') Скачайте видео
						| .
				.col-sm-4
					video(controls='controls', poster='')
						source(src='video/video.mp4', type='video/mp4')
						| 								Тег video не поддерживается вашим браузером. 
						a(href='video/video.mp4') Скачайте видео
						| .